<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
<div>
    <p th:text="${message}"></p>
</div>

<h2>Login Form</h2>
<form action="login-web" method="post">
    <div>
        <label for="username">User name:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>
</body>
</html>
