<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div>
  <p th:text="${message}"></p>
</div>

<h2>Registration Form</h2>
<form action="/register-web" method="post">
  <div>
    <label for="username">User name:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="roles">Role:</label>
    <select id="roles" name="roles">
      <option value="USER">User</option>
      <option value="ADMIN">Admin</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Registration">
  </div>
</form>
<footer>
  <p>© 2023 Booking System</p>
</footer>
</body>
</html>
